/******************************************************************************
* THEME: FANNYPACK
*
* description:
* style for Fannypack documentation
******************************************************************************/

.theme--fp .main-content {
  padding-top: 0;
}

.theme--fp .main-content__inner {
  max-width: 1099px;
  margin-right: auto;
  margin-left: auto;
}

.theme--fp .page-header {
  margin: 0 -20px 20px;
  padding: 20px;
  background-color: #152130;
  color: #fff;
}

@media only screen and (min-width: 480px) {
  .theme--fp .page-header {
    padding: 30px 20px;
  }
}

@media only screen and (min-width: 480px) {
  .theme--fp .page-header {
    padding: 50px 20px;
  }
}

.theme--fp .page-header h1 {
  max-width: 1099px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.theme--fp .alert__dismiss {
  display: block;
}

.theme--fp .hero-unit__svg {
  position: absolute;
  height: auto;
}

.theme--fp .svg-art {
  display: none;
}

@media only screen and (min-width: 480px) {
  .theme--fp .svg-art {
    display: block;
    top: 120px;
    left: 3%;
  }
}

@media only screen and (min-width: 720px) {
  .theme--fp .svg-art {
    top: 30%;
  }
}

.theme--fp .svg-check-1 {
  top: 28px;
  left: 33%;
  width: 24px;
}

@media only screen and (min-width: 480px) {
  .theme--fp .svg-check-1 {
    left: 15%;
    width: auto;
  }
}

@media only screen and (min-width: 720px) {
  .theme--fp .svg-check-1 {
    top: 230px;
    left: 26%;
  }
}

.theme--fp .svg-check-2 {
  top: 92px;
  right: 10%;
  width: 30px;
}

@media only screen and (min-width: 480px) {
  .theme--fp .svg-check-2 {
    display: none;
    top: 22px;
    width: auto;
  }
}

@media only screen and (min-width: 720px) {
  .theme--fp .svg-check-2 {
    display: block;
    top: 50px;
    right: auto;
    left: 19%;
  }
}

.theme--fp .svg-check-3 {
  display: none;
}

@media only screen and (min-width: 720px) {
  .theme--fp .svg-check-3 {
    display: block;
    top: 193px;
    right: 9%;
  }
}

.theme--fp .svg-fannypack {
  bottom: 0;
  left: 50%;
  width: 50%;
  max-width: 255px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (min-width: 480px) {
  .theme--fp .svg-fannypack {
    width: auto;
  }
}

.theme--fp .svg-label {
  display: none;
}

@media only screen and (min-width: 720px) {
  .theme--fp .svg-label {
    display: block;
    top: 160px;
    left: 14%;
  }
}

.theme--fp .svg-panel-1 {
  top: 10px;
  right: 15%;
  width: 62px;
}

@media only screen and (min-width: 480px) {
  .theme--fp .svg-panel-1 {
    right: 20%;
  }
}

@media only screen and (min-width: 720px) {
  .theme--fp .svg-panel-1 {
    top: 0;
    right: auto;
    left: 50%;
  }
}

.theme--fp .svg-panel-2 {
  display: none;
}

@media only screen and (min-width: 720px) {
  .theme--fp .svg-panel-2 {
    display: block;
    top: 38px;
    right: 24%;
    width: auto;
  }
}

@media only screen and (min-width: 920px) {
  .theme--fp .svg-panel-2 {
    top: 82px;
    right: 26%;
  }
}

.theme--fp .svg-star-1 {
  top: 0;
  left: 10%;
  width: 33px;
}

@media only screen and (min-width: 480px) {
  .theme--fp .svg-star-1 {
    top: 55px;
    left: 42%;
  }
}

@media only screen and (min-width: 720px) {
  .theme--fp .svg-star-1 {
    top: 84px;
    left: 35%;
  }
}

.theme--fp .svg-star-2 {
  display: none;
}

@media only screen and (min-width: 480px) {
  .theme--fp .svg-star-2 {
    display: block;
    top: 200px;
    right: 10%;
  }
}

@media only screen and (min-width: 720px) {
  .theme--fp .svg-star-2 {
    top: 119px;
  }
}

@media only screen and (min-width: 920px) {
  .theme--fp .svg-star-2 {
    right: 13%;
  }
}

.theme--fp .svg-text {
  display: none;
}

@media only screen and (min-width: 720px) {
  .theme--fp .svg-text {
    display: block;
    top: 209px;
    right: 21%;
  }
}

.theme--fp .svg-trash {
  top: 97px;
  left: 10%;
  width: 40px;
}

@media only screen and (min-width: 480px) {
  .theme--fp .svg-trash {
    top: 80px;
    right: 5%;
    left: auto;
    width: auto;
  }
}

@media only screen and (min-width: 720px) {
  .theme--fp .svg-trash {
    top: 30px;
    right: 0;
  }
}

@media only screen and (max-width: 479px) {
  .theme--fp .site-header__section {
    margin-right: auto;
    margin-left: auto;
  }
}

.theme--fp .site-header__section:last-child {
  display: none;
}

@media only screen and (min-width: 480px) {
  .theme--fp .site-header__section:last-child {
    display: block;
    margin-left: auto;
  }
}

.theme--fp .site-header .nav__link {
  color: #47a0c3;
}

.theme--fp .site-header .nav__link:visited {
  color: #47a0c3;
}

.theme--fp .site-header .nav__link:focus,
.theme--fp .site-header .nav__link:hover {
  color: #227393;
}

.theme--fp .site-header .app-icon__name {
  margin-left: 0;
}

.theme--fp .site-header .app-icon__name .text--muted {
  font-weight: normal;
}

.fp-hero-unit {
  padding: 0;
  background-color: #fafafa;
}

.fp-hero-unit .container {
  position: relative;
  padding: 50px 0 40px;
}

.fp-hero-unit__img {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1005px;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50%;
}

@media only screen and (min-width: 480px) {
  .fp-hero-unit__img {
    padding-top: 240px;
  }
}

@media only screen and (min-width: 720px) {
  .fp-hero-unit__img {
    padding-top: 288px;
  }
}

.fp-hero-unit__title {
  margin-top: 0;
  font-size: emify(36);
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .fp-hero-unit__title {
    font-size: emify(52);
  }
}

@media only screen and (min-width: 720px) {
  .fp-hero-unit__title {
    font-size: emify(66);
  }
}

.fp-hero-unit__body {
  font-size: emify(21);
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .fp-hero-unit__body {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}

.theme--fp-homepage body {
  background-color: #fff;
}

/******************************************************************************
* DROPLET
*
* description:
* color swatches
******************************************************************************/

.fp-droplet__color {
  padding-top: 50%;
  border-radius: 4px 4px 0 0;
}

.primary > .fp-droplet__color {
  background-color: #47a0c3;
}

.secondary > .fp-droplet__color {
  background-color: #152130;
}

.facebook > .fp-droplet__color {
  background-color: #365187;
}

.twitter > .fp-droplet__color {
  background-color: #199bd3;
}

.youtube > .fp-droplet__color {
  background-color: #e52d27;
}

.instagram > .fp-droplet__color {
  background-color: #125688;
}

.spotify > .fp-droplet__color {
  background-color: #1ed760;
}

.soundcloud > .fp-droplet__color {
  background-color: #f50;
}

.orangepink > .fp-droplet__color {
  background-color: #fe6c59;
}

.lightishgreen > .fp-droplet__color {
  background-color: #6bd888;
}

.lightishpurple > .fp-droplet__color {
  background-color: #ad71e2;
}

.cornflower > .fp-droplet__color {
  background-color: #5b84f3;
}

.lightteal > .fp-droplet__color {
  background-color: #84dcc8;
}

.sunyellow > .fp-droplet__color {
  background-color: #ffd63e;
}

.apricot > .fp-droplet__color {
  background-color: #ffb060;
}

.lightsalmon > .fp-droplet__color {
  background-color: #ffab93;
}

.coolblue > .fp-droplet__color {
  background-color: #47a0c3;
}

.duskblue > .fp-droplet__color {
  background-color: #227393;
}

.lightbluegrey > .fp-droplet__color {
  background-color: #a8cfde;
}

.slate > .fp-droplet__color {
  background-color: #3c4d62;
}

.dark > .fp-droplet__color {
  background-color: #152130;
}

.warmgrey > .fp-droplet__color {
  background-color: #9e9e9e;
}

.success > .fp-droplet__color {
  background-color: #6bd888;
}

.warning > .fp-droplet__color {
  background-color: #ffb060;
}

.error > .fp-droplet__color {
  background-color: #fe6c59;
}

.info > .fp-droplet__color {
  background-color: #47a0c3;
}

.muted > .fp-droplet__color {
  background-color: #9e9e9e;
}

.fp-droplet__meta {
  padding: 20px;
  border: 1px solid #dedede;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

.fp-droplet__name {
  font-size: emify(21);
  font-weight: 600;
}

.fp-droplet__hex {
  color: #9e9e9e;
}

.fp-example {
  padding: 20px;
  overflow: auto;
  border-radius: 2px;
  background-color: #fff;
}

.fp-example + .highlight {
  box-shadow: inset 0 10px 5px -5px rgba(225, 225, 225, 0.4);
}

.fp-example + .highlight .chroma {
  margin: 0;
}

.fp-example--dark {
  background-color: #222;
}

.fp-example--app-icons::after {
  content: '';
  display: block;
  clear: both;
}

.fp-example--app-icons .app-icon {
  margin-right: 20px;
  float: left;
}

.fp-example-app-icons-stacked .app-icon:not(:last-child) {
  margin-bottom: 20px;
}

.fp-example--grid [class^="col-"] {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #e1e1e1;
}

.fp-example--grid [class^="grid"] {
  margin-bottom: 20px;
}

@supports (display: grid) {
  .fp-example--grid .grid .grid {
    margin-right: -10px;
    margin-left: -10px;
  }
}

.fp-example--grid-visible .col--dashed {
  border: 1px dashed #e1e1e1;
  background-color: transparent;
  color: #e1e1e1;
  text-align: center;
}

@supports (display: grid) {
  .fp-example--grid-float .grid {
    display: block;
  }

  .fp-example--grid-float .grid::after {
    content: '';
    display: block;
    clear: both;
  }

  .fp-example--grid-float [class^="col-"] {
    margin-bottom: 20px;
    float: left;
  }

  .fp-example--grid-float .col-1 {
    width: 8.33333%;
  }

  .fp-example--grid-float .col-2 {
    width: 16.66667%;
  }

  .fp-example--grid-float .col-3 {
    width: 25%;
  }

  .fp-example--grid-float .col-4 {
    width: 33.33333%;
  }

  .fp-example--grid-float .col-5 {
    width: 41.66667%;
  }

  .fp-example--grid-float .col-6 {
    width: 50%;
  }

  .fp-example--grid-float .col-7 {
    width: 58.33333%;
  }

  .fp-example--grid-float .col-8 {
    width: 66.66667%;
  }

  .fp-example--grid-float .col-9 {
    width: 75%;
  }

  .fp-example--grid-float .col-10 {
    width: 83.33333%;
  }

  .fp-example--grid-float .col-11 {
    width: 91.66667%;
  }

  .fp-example--grid-float .col-12 {
    width: 100%;
  }

  .fp-example--grid-float .col--clear {
    clear: left;
  }
}

.fp-example > .site-header {
  position: static;
  padding-left: 20px;
}

.fp-transparent-bg {
  background-clip: border-box;
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  background-origin: padding-box;
}

/******************************************************************************
* DOCS
*
* description:
* custom styling for the documentation site
******************************************************************************/

.layout--diorama .dialog__checkbox {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.layout--diorama .dialog__toggle {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  padding: .2em .6em;
  border-radius: 2px;
  background-color: #47a0c3;
  color: #fff;
}

.layout--diorama .dialog__toggle::after {
  content: 'Show code </>';
}

.layout--diorama .dialog__checkbox:checked + .dialog__toggle {
  top: 100px;
  right: 60px;
  bottom: auto;
  left: auto;
}

@media only screen and (min-width: 1280px) {
  .layout--diorama .dialog__checkbox:checked + .dialog__toggle {
    right: auto;
    right: calc(50% - 580px);
  }
}

.layout--diorama .dialog__checkbox:checked + .dialog__toggle::after {
  content: 'Hide code </>';
}

.layout--diorama .dialog__checkbox:checked + .dialog__toggle + .dialog {
  display: block;
}

.layout--diorama .dialog {
  display: none;
  position: fixed;
  z-index: 1;
  top: 80px;
  right: 40px;
  left: 40px;
  max-width: 1200px;
  max-height: 80vh;
  padding: 20px;
  overflow: auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 1280px) {
  .layout--diorama .dialog {
    margin-right: auto;
    margin-left: auto;
  }
}