////////////////////////////////////////////////////////////////////////////////
// DOCUMENTATION SETTINGS
//
// description:
// global variables for the documentation site,
// NOT for the distributed fannypack css
////////////////////////////////////////////////////////////////////////////////
$neon-yellow: #f3f315 !default;
$neon-blue: #0dd5fc !default;
$neon-pink: #fc569f !default;
$drawer-width: 262px !default;

// Fannypack 80s color pallette
$black-purple: #302d3a !default;
$midnight-blue: #5355ac !default;
$dusk-purple: #b260b6 !default;
$pink-orange: #f5b795 !default;

// Fannypacks 80s color palette
//  Inspired by `Beastie Boys' Hot Sauce Committee Pt Two` album cover
$hot-sauce-blue: #199dcd !default;
$hot-sauce-green: #18a754 !default;
$hot-sauce-red: #ea202d !default;
$hot-sauce-orange: #ef592f !default;
$hot-sauce-magenta: #ea168c !default;
$hot-sauce-light-blue: #71cff4 !default;
$hot-sauce-yellow: #fdf035 !default;

$fp-text-color: mix($white, $hot-sauce-yellow, 60%);

$link-color: $hot-sauce-blue;
