////////////////////////////////////////////////////////////////////////////////
// THEME: FANNYPACK
//
// description:
// Fluo, 80s retro style for Fannypack documentation
////////////////////////////////////////////////////////////////////////////////

.theme--fp {
	.main-content {
		padding-top: 0;
	}

	.main-content__inner {
		max-width: (764px + $drawer-width + ($double-spacing-unit * 2));
		margin-right: auto;
		margin-left: auto;

		@include mq-min(764px + ($drawer-width * 2) + ($double-spacing-unit * 2)) {
			max-width: none;
			padding-right: 132px;
			padding-left: 132px;
		}
	}

	.page-header {
		margin: 0 ($double-spacing-unit * -1) $double-spacing-unit;
		padding: $double-spacing-unit;
		background-color: $dark;
		color: $white;

		@include mq-min($bp-small) {
			padding: ($base-spacing-unit * 3) $double-spacing-unit;
		}

		@include mq-min($bp-small) {
			padding: ($base-spacing-unit * 5) $double-spacing-unit;
		}

		h1 {
			max-width: (764px + $drawer-width + ($double-spacing-unit * 2));
			margin-top: 0;
			margin-right: auto;
			margin-bottom: 0;
			margin-left: auto;

			@include mq-min(764px + ($drawer-width * 2) + ($double-spacing-unit * 2)) {
				max-width: none;
				padding-right: 132px;
				padding-left: 132px;
			}
		}
	}

	.alert__dismiss {
		display: block;
	}
}

.theme--fp-homepage {
	body {
		background-color: $white;
	}
}
