////////////////////////////////////////////////////////////////////////////////
// THEME: FANNYPACK
//
// description:
// Fluo, 80s retro style for Fannypack documentation
////////////////////////////////////////////////////////////////////////////////

// scss-lint:disable SelectorDepth

.theme-fp {
	// scss-lint:disable DuplicateProperty
	background: $bg-gradient-dark-blue; // fallback
	background: linear-gradient(135deg, $bg-gradient-dark-blue 0%, $bg-gradient-blueish-purple 50%, $bg-gradient-magenta 50%, $bg-gradient-orange 100%);
	background-attachment: fixed;

	body {
		background-color: $transparent;
	}

	.site-header {
		border-bottom: 0;
		background-color: $transparent;

		.app-icon__name {
			color: $hot-sauce-yellow;
		}

		.fp-nav {
			font-size: $font-size-large;
		}
	}

	.site-header__section {
		&:nth-child(2) {
			margin-left: ($double-spacing-unit * 3);
		}
	}

	.hero-unit {
		max-width: 1200px;
		margin-top: ($double-spacing-unit * 4);
		margin-right: auto;
		margin-bottom: ($double-spacing-unit * 4);
		margin-left: auto;
		text-align: center;
	}

	.hero-unit__title {
		margin-top: 0;
		margin-bottom: 0;
		color: rgba($hot-sauce-green, .33);
		font-size: 10vw;
		letter-spacing: .1em;
		text-shadow: rgba($hot-sauce-red, .33) .05em .05em 0;
	}

	.hero-unit__body {
		color: $hot-sauce-yellow;
		font-size: $font-size-h2;
		line-height: 1.2;
	}

	h1,
	h2,
	h3,
	h4 {
		font-family: 'Arial Black', Arial, sans-serif;
		text-transform: uppercase;
	}

	.fp-example {
		h1,
		h2,
		h3,
		h4 {
			font-family: $sans-serif;
		}
	}

	.fp-nav .nav--sticky {
		@supports (position: sticky) {
			top: ($site-header-height + $double-spacing-unit);
		}
	}

	.fp-drawer .nav__list {
		// @include font-smoothing(default);
		font-family: 'Courier New', monospace;

		// nested
		.nav__list {
			margin-top: $base-spacing-unit;
			padding-left: ($base-spacing-unit * 1.5);
			border-left: 2px solid $neon-pink;
			font-weight: normal;
		}
	}

	.fp-nav .nav__item {
		display: block;

		&.is-active > .nav__link {
			color: $hot-sauce-yellow;
		}
	}

	// scss-lint:disable SelectorDepth
	.nav--vertical > .nav__list > .nav__item + .nav__item {
		margin-top: $base-spacing-unit;
		margin-left: 0;
	}

	.fp-nav .nav__link {
		color: $neon-blue;

		&:focus,
		&:hover {
			color: $hot-sauce-magenta;
		}
	}
}

.theme-fp-homepage {
	body {
		color: $fp-text-color;
	}

	.fp-main-container {
		max-width: none;
	}

	.chroma {
		background-color: $hot-sauce-yellow;
		box-shadow: $hot-sauce-magenta -10px 10px 0;
	}
}

.fp-main-container {
	.layout--fixed-header & {
		position: relative;
		min-height: calc(100vh - #{$site-header-height});
		z-index: 1;
	}
}

// scss-lint:enable SelectorDepth
