@charset 'UTF-8';

@import '../../../src/sass/functions';
@import '../../../src/sass/site-settings';
@import 'documentation-settings';
@import '../../../src/sass/modules-settings';
@import '../../../src/sass/mixins/mixins';
@import 'fannypack-logo';
@import 'theme-fannypack';

////////////////////////////////////////////////////////////////////////////////
// DOCS
//
// description:
// custom styling for the documentation site
////////////////////////////////////////////////////////////////////////////////

.app-icon--neon-pink {
	.app-icon__logo {
		background-color: $neon-pink;
	}

	.app-icon__character {
		&:first-child {
			color: $neon-blue;
		}

		&:last-child {
			color: $neon-yellow;
			font-weight: bold;
		}
	}
}

.highlight {
	margin-bottom: $double-spacing-unit;

	.chroma {
		padding: $double-spacing-unit;
	}
}

.chroma {
	overflow: auto;
}

.fp-example {
	padding: $double-spacing-unit;
	border: 1px solid $border-color;
	border-radius: $border-radius-large;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	+ .highlight {
		margin-top: -1px;

		.chroma {
			margin: 0;
		}
	}

	&--dark {
		background-color: $almost-black;
	}

	&--app-icons {
		@include clearfix;

		.app-icon {
			margin-right: $double-spacing-unit;
			float: left;
		}
	}

	&-app-icons-stacked {
		.app-icon:not(:last-child) {
			margin-bottom: $double-spacing-unit;
		}
	}

	&--grid {
		[class^="col-"] {
			padding: $base-spacing-unit;
			border: 1px solid $border-color;
			background-color: $evil-gray;
			// white-space: nowrap;
		}

		[class^="grid"] {
			margin-bottom: $double-spacing-unit;
		}
	}

	&--grid-float {
		@supports (display: grid) {
			.grid {
				@include clearfix;
				display: block;
			}

			[class^="col-"] {
				float: left;
			}

			@for $i from 1 through 12 {
				.col-#{$i} {
					width: percentage($i / 12);
				}
			}

			.col--clear {
				clear: left;
			}
		}
	}
}

.fp-main-container {
	@include clearfix;
	position: relative; // positioning context
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;

	.layout--drawer & {
		@supports (display: grid) {
			// scss-lint:disable PropertySpelling
			display: grid;
			grid-gap: 0;
			grid-template-columns: $drawer-width calc(100% - #{$drawer-width});
			grid-template-rows: auto;

			&::after {
				content: none;
			}

			@include mq-max($bp-medium - 1) {
				display: block;
			}
		}
	}
}

.fp-drawer {
	position: absolute;
	top: 0;
	left: 0;
	width: $drawer-width;
	padding: $double-spacing-unit;
	// float: left;

	@include mq-max($bp-medium - 1) {
		display: none;
	}

	@supports (display: grid) {
		position: static;
		width: auto;
	}
}

.fp-article {
	padding: $double-spacing-unit;


	.layout--drawer & {
		position: relative; // positioning context
		margin-top: 80px;
		margin-left: $drawer-width;
		background-color: $white;

		@include mq-max($bp-medium - 1) {
			margin-left: 0;
		}

		&::before {
			display: block;
			position: absolute;
			top: -60px;
			left: 0;
			width: 100%;
			height: 60px;
			background-color: $white;
			content: '';
			clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
		}


		@supports (display: grid) {
			margin-left: 0;
		}

		> h1 {
			display: block;
			margin-top: -90px;
			padding-right: $double-spacing-unit;
			padding-left: $double-spacing-unit;
			float: left;
			transform: rotate(-4.33deg);
			background-color: $hot-sauce-yellow;
			color: $bg-gradient-dark-blue;
		}
	}
}

.fp-transparent-bg {
	background-clip: border-box;
	background-image: linear-gradient(45deg, rgba($black, .0980392) 25%, rgba($black, 0) 25%, rgba($black, 0) 75%, rgba($black, .0980392) 75%, rgba($black, .0980392) 0), linear-gradient(45deg, rgba($black, .0980392) 25%, rgba($black, 0) 25%, rgba($black, 0) 75%, rgba($black, .0980392) 75%, rgba($black, .0980392) 0);
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
	background-origin: padding-box;
}

.fonda {
	width: 66vw;
	height: auto;
	float: left;
	shape-outside: polygon(0% 0, 28% 0, 39% 28%, 66% 28%, 72% 58%, 85% 69%, 78% 94%, 11% 94%, 11% 59%, 0% 32%);
}
