////////////////////////////////////////////////////////////////////////////////
// DOCUMENTATION SETTINGS
//
// description:
// global variables for the documentation site,
// NOT for the distributed fannypack css
////////////////////////////////////////////////////////////////////////////////
$neon-yellow: #f3f315 !default;
$neon-blue: #0dd5fc !default;
$drawer-width: 262px !default;
