////////////////////////////////////////////////////////////////////////////////
// SITE SETTINGS
//
// description:
// global variables
////////////////////////////////////////////////////////////////////////////////

// scss-lint:disable SpaceAfterVariableName

//==============================================================================
// COLORS
//==============================================================================

// cold
$aqua            : #7fdbff !default;
$blue            : #0074d9 !default;
$navy            : #001f3f !default;
$teal            : #39cccc !default;
$green           : #2ecc40 !default;
$olive           : #3d9970 !default;
$lime            : #01ff70 !default;

// warm
$yellow          : #ffdc00 !default;
$orange          : #ff851b !default;
$red             : #ff4136 !default;
$fuchsia         : #f012be !default;
$purple          : #b10dc9 !default;
$maroon          : #85144b !default;

// Grayscale
$black           : #000 !default;
$almost-black    : #222 !default;
$dark-gray       : #404040 !default;
$steel           : #666 !default;
$aluminum        : #9e9e9e !default;
$gray            : #aaa !default;
$iron            : #ccc !default;
$silver          : #ddd !default;
$evil-gray       : #eee !default;
$whitesmoke      : #f5f5f5 !default;
$white           : #fff !default;

// Social Media
$facebook-color  : #365187 !default;
$twitter-color   : #199bd3 !default;
$youtube-color   : #e52d27 !default;
$instagram-color : #125688 !default;
$spotify-color   : #1ed760 !default;
$soundcloud-color: #f50 !default;

// states
$success-color   : $green !default;
$error-color     : $red !default;

// MAIN COLORS
$primary-color   : $blue !default;
$secondary-color : $green !default;

// human readable color formats
$transparent     : transparent !default;

// global property colors
$border-color    : $silver !default;
$text-color      : $dark-gray !default;

//==============================================================================
// TYPOGRAPHY
//==============================================================================
$font-path       : '../fonts/' !default;

$sans-serif      : 'Source Sans Pro', Arial, sans-serif !default;
$serif           : Georgia, sans-serif !default;

$font-size-base  : 16px !default;
$line-height-base: 1.5 !default;

// typography scale
$font-size-tiny        : emify(10) !default;
$font-size-small       : emify(12) !default;
$font-size-medium      : emify(14) !default;
$font-size-large       : emify(18) !default;

//==============================================================================
// SPACINGS
//==============================================================================
$base-spacing-unit  : 10px !default;
$half-spacing-unit  : ($base-spacing-unit / 2) !default;
$double-spacing-unit: ($base-spacing-unit * 2) !default;

//==============================================================================
// BORDER RADII
//==============================================================================
$border-radius-base : 2px !default;
$border-radius-large : ($border-radius-base * 2) !default;

// scss-lint:enable SpaceAfterVariableName
