<meta property="og:locale" content="en_US">
<meta property="og:type" content="product.item">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% elsif page.summary%}{{ page.summary }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">
{% if page.og_image %}
<meta property="og:image" content="{{site.url}}{{ page.og_image }}">
{% endif %}
{% if site.og_fbappId %}
<meta property="fb:app_id" content="{{ site.og_fbappId }}">
{% endif %}
{% if page.date %}
<meta property="article:published_time" content="{{ page.date }}">
{% endif %}

<meta name="twitter:card" content="summary" />
{% if site.twitterhandle %}
<meta name="twitter:site" content="{{ site.twitterhandle}}" />
{% endif %}