<!DOCTYPE html>
<html class="no-js theme--fp {% if page.modifier %}{{page.modifier}}{% endif %}" lang="en">
	{% include head.html %}
	<body class="bs-docs-home">
		{% comment %}
		<a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>
		{% endcomment %}

		{% include header.html %}

		<main class="main-container" role="main">
			{% include drawer-templates.html %}
			<div class="main-content">
				{{ content }}

				{% include footer.html %}
			</div>
		</main>
	</body>
</html>
