{{ partial "head" . }}

{{ partial "header" . }}

<main class="fp-main-container" role="main">
	<article class="fp-article">
		<div class="hero-unit" role="banner">
			<h1 class="hero-unit__title" aria-label="{{.Title}}">{{ partial "fanny" . }}</h1>
		</div>
		<div class="clearfix">
			{{ partial "fonda" .}}
			<div>
				<p class="hero-unit__body">An open source HTML and CSS toolkit. With prebuilt modules and a responsive design you can build the most awesome sites and applications. Give it an extra boost with <a href="#">Buckle</a>, our custom made <em>&ldquo;pub-sub&rdquo;</em> JavaScript framework</p>

				<h2>Getting started</h2>

				<p>Include the following code snippet in your <code>head</code></p>

				<div class="highlight">
<pre class="chroma">
<code class="language-html" data-lang="html">&lt;link rel="stylesheet" href="{{ "dist/fannypack.css" | absURL }}" /&gt;</code>
</pre>
				</div>

				<p>Now read our <a href="{{ "/layout/grid" | relURL }}">docs</a> on how to write the correct html to include modules.</p>
			</div>
		</div>
	</article>
</main>

{{ partial "footer" . }}
