{{define "main"}}
<div class="hero-unit" role="banner">
	<div class="container">
		<h1 class="hero-unit__title">{{.Site.Title}}</h1>
		<p class="hero-unit__body">An open source HTML and CSS toolkit. With prebuilt modules and a responsive design you can build the most awesome sites and applications.</p>
		<img src="{{"img/svg/art.svg" | absURL }}" alt="" class="hero-unit__svg svg-art" role="none presentation" />
		<img src="{{"img/svg/check-1.svg" | absURL }}" alt="" class="hero-unit__svg svg-check-1" role="none presentation" />
		<img src="{{"img/svg/check-2.svg" | absURL }}" alt="" class="hero-unit__svg svg-check-2" role="none presentation" />
		<img src="{{"img/svg/check-3.svg" | absURL }}" alt="" class="hero-unit__svg svg-check-3" role="none presentation" />
		<img src="{{"img/svg/fannypack.svg" | absURL }}" alt="" class="hero-unit__svg svg-fannypack" role="none presentation" />
		<img src="{{"img/svg/label.svg" | absURL }}" alt="" class="hero-unit__svg svg-label" role="none presentation" />
		<img src="{{"img/svg/panel-1.svg" | absURL }}" alt="" class="hero-unit__svg svg-panel-1" role="none presentation" />
		<img src="{{"img/svg/panel-2.svg" | absURL }}" alt="" class="hero-unit__svg svg-panel-2" role="none presentation" />
		<img src="{{"img/svg/star-1.svg" | absURL }}" alt="" class="hero-unit__svg svg-star-1" role="none presentation" />
		<img src="{{"img/svg/star-2.svg" | absURL }}" alt="" class="hero-unit__svg svg-star-2" role="none presentation" />
		<img src="{{"img/svg/text.svg" | absURL }}" alt="" class="hero-unit__svg svg-text" role="none presentation" />
		<img src="{{"img/svg/trash.svg" | absURL }}" alt="" class="hero-unit__svg svg-trash" role="none presentation" />
	</div>

</div>
<div class="container">
	<div class="text--centered">
		<h2>Getting started</h2>

		<p>Include the following code snippet in your <code>head</code></p>

		<div class="highlight">
<pre class="chroma"><code class="language-html" data-lang="html">&lt;link rel="stylesheet" href="{{ "css/fannypack.css" | absURL }}" /&gt;</code></pre>
		</div>
	</div>
</div>
{{ end }}

