////////////////////////////////////////////////////////////////////////////////
// MEDIA QUERIES
//
// Mobile first media queries with <IE9 fallback
// @see https://github.com/jakearchibald/sass-ie
////////////////////////////////////////////////////////////////////////////////

// min width query
@mixin mq-min($width) {
	@media only screen and (min-width: $width) {
		@content;
	}
}

@mixin mq-max($width) {
	@media only screen and (max-width: $width) {
		@content;
	}
}
