{% include drawer-hamburger.html %}
<div class="drawer{% if include.modifier%} {{include.modifier}}{% endif %}">
	<div class="drawer__section">
		<div class="drawer__section-title" id="drawer-admin">Admin</div>
		<nav class="nav nav nav--vertical nav--light" role="navigation" aria-labelledby="drawer-admin">
			<ul class="nav__list">
				<li class="nav__item is-active" role="presentation">
					<a href="#" class="nav__link" title="Dashboard" aria-current="page"><span class="material-icons">dashboard</span> <span class="nav__txt">Dashboard</span></a>
				</li>
				<li class="nav__item" role="presentation">
					<a href="#" class="nav__link" title="Reports"><span class="material-icons">report</span> <span class="nav__txt">Reports</span></a>
				</li>
				<li class="nav__item" role="presentation">
					<a href="#" class="nav__link" title="Teams"><span class="material-icons">people</span> <span class="nav__txt">Teams</span></a>
				</li>
				<li class="nav__item" role="presentation">
					<a href="#" class="nav__link" title="Incidents"><span class="material-icons">notifications_active</span> <span class="nav__txt">Incidents</span></a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="drawer__section">
		<div class="drawer__section-title" id="drawer-settings">Settings</div>
		<nav class="nav nav nav--vertical nav--light" role="navigation" aria-labelledby="drawer-settings">
			<ul class="nav__list">
				<li class="nav__item" role="presentation">
					<a href="#" class="nav__link" title="Account"><span class="material-icons">person</span> <span class="nav__txt">Account</span></a>
				</li>
				<li class="nav__item" role="presentation">
					<a href="#" class="nav__link" title="Privacy"><span class="material-icons">remove_red_eye</span> <span class="nav__txt">Privacy</span></a>
				</li>
				<li class="nav__item" role="presentation">
					<a href="#" class="nav__link" title="Preferences"><span class="material-icons">settings</span> <span class="nav__txt">Preferences</span></a>
				</li>
			</ul>
		</nav>
	</div>
</div>
