////////////////////////////////////////////////////////////////////////////////
// DEFAULT
//
// description
// no classes here, only element selectors
////////////////////////////////////////////////////////////////////////////////

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	min-height: 100%;
}

body {
	// @include font-smoothing(on);
	background-color: $body-bg;
	color: $text-color;
	font-family: $sans-serif;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

h1 {
	font-size: $font-size-h1;
}

h2 {
	font-size: $font-size-h2;
}

h3 {
	font-size: $font-size-h3;
}

h4 {
	font-size: $font-size-h4;
}

h5 {
	font-size: $font-size-h5;
}

h6 {
	font-size: $font-size-h6;
}

h1,
h2,
h3,
h4 {
	line-height: 1.2;
}

li {
	margin-bottom: $half-spacing-unit;
}

textarea {
	max-width: 100%; // disables horizontal resizing
}

pre {
	white-space: pre;
	tab-size: 4;
}

code {
	@include font-smoothing(default);
	padding: .15em .5em;
	border-radius: $border-radius-base;
	background-color: $silver;
	color: $slate;
	font-size: $font-size-medium;

	pre & {
		padding: 0;
		background-color: $transparent;
		white-space: pre-wrap;
	}
}

a {
	color: $link-color;

	&:visited {
		color: $link-visited-color;
	}

	&:focus,
	&:hover {
		color: $link-hover-color;
	}

	&:active {
		color: $link-active-color;
	}
}

hr {
	border-width: 0 0 1px;
	border-style: solid;
	color: $hr-border-color;
}
