////////////////////////////////////////////////////////////////////////////////
// WEBFONTS
//
// description:
//  custom web fonts
////////////////////////////////////////////////////////////////////////////////

@font-face{
	font-family: 'Source Sans Pro';
	font-stretch: normal;
	font-style: normal;
	font-weight: normal; // 400
	src: url($font-path + 'Source-Sans-Pro/SourceSansPro-Regular.eot') format('embedded-opentype'),
		url($font-path + 'Source-Sans-Pro/SourceSansPro-Regular.ttf.woff2') format('woff2'),
		url($font-path + 'Source-Sans-Pro/SourceSansPro-Regular.otf.woff') format('woff'),
		url($font-path + 'Source-Sans-Pro/SourceSansPro-Regular.otf') format('opentype'),
		url($font-path + 'Source-Sans-Pro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Source Sans Pro';
	font-stretch: normal;
	font-style: normal;
	font-weight: 600;
	src: url($font-path + 'Source-Sans-Pro/SourceSansPro-Semibold.eot') format('embedded-opentype'),
		url($font-path + 'Source-Sans-Pro/SourceSansPro-Semibold.ttf.woff2') format('woff2'),
		url($font-path + 'Source-Sans-Pro/SourceSansPro-Semibold.otf.woff') format('woff'),
		url($font-path + 'Source-Sans-Pro/SourceSansPro-Semibold.otf') format('opentype'),
		url($font-path + 'Source-Sans-Pro/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
	font-family: 'Source Sans Pro';
	font-stretch: normal;
	font-style: normal;
	font-weight: bold; // 700
	src: url($font-path + 'Source-Sans-Pro/SourceSansPro-Bold.eot') format('embedded-opentype'),
		url($font-path + 'Source-Sans-Pro/SourceSansPro-Bold.ttf.woff2') format('woff2'),
		url($font-path + 'Source-Sans-Pro/SourceSansPro-Bold.otf.woff') format('woff'),
		url($font-path + 'Source-Sans-Pro/SourceSansPro-Bold.otf') format('opentype'),
		url($font-path + 'Source-Sans-Pro/SourceSansPro-Bold.ttf') format('truetype');
}
