.fp-logo {
  display: block;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.fp-logo__group--pack {
  fill: #ea168c;
}

.fp-logo__group--fanny .fp-logo__char {
  fill: #199dcd;
}

.fp-logo__group--pack .fp-logo__char {
  fill: #ea168c;
}

.theme-fp {
  background: #0f004d;
  background: -webkit-linear-gradient(315deg, #0f004d 0%, #54037e 50%, #8a1f7d 50%, #d8756d 100%);
  background: linear-gradient(135deg, #0f004d 0%, #54037e 50%, #8a1f7d 50%, #d8756d 100%);
  background-attachment: fixed;
}

.theme-fp body {
  background-color: transparent;
}

.theme-fp .site-header {
  border-bottom: 0;
  background-color: transparent;
}

.theme-fp .site-header .app-icon__name {
  color: #fdf035;
}

.theme-fp .site-header .fp-nav {
  font-size: 1.125em;
}

.theme-fp .site-header__section:nth-child(2) {
  margin-left: 60px;
}

.theme-fp .hero-unit {
  max-width: 1200px;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  text-align: center;
}

.theme-fp .hero-unit__title {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(24, 167, 84, 0.33);
  font-size: 10vw;
  letter-spacing: .1em;
  text-shadow: rgba(234, 32, 45, 0.33) 0.05em 0.05em 0;
}

.theme-fp .hero-unit__body {
  color: #fdf035;
  font-size: 2em;
  line-height: 1.2;
}

.theme-fp h1,
.theme-fp h2,
.theme-fp h3,
.theme-fp h4 {
  font-family: 'Arial Black', Arial, sans-serif;
  text-transform: uppercase;
}

.theme-fp .fp-example h1,
.theme-fp .fp-example h2,
.theme-fp .fp-example h3,
.theme-fp .fp-example h4 {
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-transform: none;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .theme-fp .fp-nav .nav--sticky {
    top: 90px;
  }
}

.theme-fp .fp-drawer .nav__list {
  font-family: 'Courier New', monospace;
}

.theme-fp .fp-drawer .nav__list .nav__list {
  margin-top: 10px;
  padding-left: 15px;
  border-left: 2px solid #fc569f;
  font-weight: normal;
}

.theme-fp .fp-nav .nav__item {
  display: block;
}

.theme-fp .fp-nav .nav__item.is-active > .nav__link {
  color: #fdf035;
}

.theme-fp .nav--vertical > .nav__list > .nav__item + .nav__item {
  margin-top: 10px;
  margin-left: 0;
}

.theme-fp .fp-nav .nav__link {
  color: #0dd5fc;
}

.theme-fp .fp-nav .nav__link:focus,
.theme-fp .fp-nav .nav__link:hover {
  color: #ea168c;
}

.theme-fp-homepage body {
  color: #fef9ae;
}

.theme-fp-homepage .fp-main-container {
  max-width: none;
}

.theme-fp-homepage .chroma {
  background-color: #fdf035;
  box-shadow: #ea168c -10px 10px 0;
}

.theme-fp-404 {
  background: #4a34b0;
  background: -webkit-linear-gradient(bottom, #4a34b0 0%, #281c5c 19%, #07060b 38%, #fb0e0e 48%, #fff 51%, #b20d0e 51%, #b20d0e 53%, #8e0d0e 53%, #8e0d0e 55%, #700b0e 55%, #58090d 57%, #43080d 57%, #06050c 63%, #211c78 100%);
  background: linear-gradient(0deg, #4a34b0 0%, #281c5c 19%, #07060b 38%, #fb0e0e 48%, #fff 51%, #b20d0e 51%, #b20d0e 53%, #8e0d0e 53%, #8e0d0e 55%, #700b0e 55%, #58090d 57%, #43080d 57%, #06050c 63%, #211c78 100%);
}

.layout--fixed-header .fp-main-container {
  position: relative;
  min-height: calc(100vh - 70px);
  z-index: 1;
}

.app-icon--neon-pink .app-icon__logo {
  background-color: #fc569f;
}

.app-icon--neon-pink .app-icon__character:first-child {
  color: #0dd5fc;
}

.app-icon--neon-pink .app-icon__character:last-child {
  color: #f3f315;
  font-weight: bold;
}

.highlight {
  margin-bottom: 20px;
}

.highlight .chroma {
  padding: 20px;
}

.chroma {
  overflow: auto;
}

.fp-example {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.fp-example + .highlight {
  margin-top: -1px;
}

.fp-example + .highlight .chroma {
  margin: 0;
}

.fp-example--dark {
  background-color: #222;
}

.fp-example--app-icons::after {
  display: block;
  clear: both;
  content: '';
}

.fp-example--app-icons .app-icon {
  margin-right: 20px;
  float: left;
}

.fp-example-app-icons-stacked .app-icon:not(:last-child) {
  margin-bottom: 20px;
}

.fp-example--grid [class^="col-"] {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #eee;
}

.fp-example--grid [class^="grid"] {
  margin-bottom: 20px;
}

@supports (display: grid) {
  .fp-example--grid-float .grid {
    display: block;
  }

  .fp-example--grid-float .grid::after {
    display: block;
    clear: both;
    content: '';
  }

  .fp-example--grid-float [class^="col-"] {
    float: left;
  }

  .fp-example--grid-float .col-1 {
    width: 8.33333%;
  }

  .fp-example--grid-float .col-2 {
    width: 16.66667%;
  }

  .fp-example--grid-float .col-3 {
    width: 25%;
  }

  .fp-example--grid-float .col-4 {
    width: 33.33333%;
  }

  .fp-example--grid-float .col-5 {
    width: 41.66667%;
  }

  .fp-example--grid-float .col-6 {
    width: 50%;
  }

  .fp-example--grid-float .col-7 {
    width: 58.33333%;
  }

  .fp-example--grid-float .col-8 {
    width: 66.66667%;
  }

  .fp-example--grid-float .col-9 {
    width: 75%;
  }

  .fp-example--grid-float .col-10 {
    width: 83.33333%;
  }

  .fp-example--grid-float .col-11 {
    width: 91.66667%;
  }

  .fp-example--grid-float .col-12 {
    width: 100%;
  }

  .fp-example--grid-float .col--clear {
    clear: left;
  }
}

.fp-main-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.fp-main-container::after {
  display: block;
  clear: both;
  content: '';
}

@supports (display: grid) {
  .layout--drawer .fp-main-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 0;
    -ms-grid-columns: 262px calc(100% - 262px);
    grid-template-columns: 262px calc(100% - 262px);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .layout--drawer .fp-main-container::after {
    content: none;
  }

@media only screen and (max-width: 719px) {
    .layout--drawer .fp-main-container {
      display: block;
    }
}
}

.fp-drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  padding: 20px;
}

@media only screen and (max-width: 719px) {
  .fp-drawer {
    display: none;
  }
}

@supports (display: grid) {
  .fp-drawer {
    position: static;
    width: auto;
  }
}

.fp-article {
  padding: 20px;
}

.layout--drawer .fp-article {
  position: relative;
  margin-top: 80px;
  margin-left: 262px;
  background-color: #fff;
}

@media only screen and (max-width: 719px) {
  .layout--drawer .fp-article {
    margin-left: 0;
  }
}

.layout--drawer .fp-article::before {
  display: block;
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  content: '';
  -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

@supports (display: grid) {
  .layout--drawer .fp-article {
    margin-left: 0;
  }
}

.layout--drawer .fp-article > h1 {
  display: block;
  margin-top: -90px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  -webkit-transform: rotate(-4.33deg);
  -ms-transform: rotate(-4.33deg);
  transform: rotate(-4.33deg);
  background-color: #fdf035;
  color: #0f004d;
}

.fp-transparent-bg {
  background-clip: border-box;
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  background-origin: padding-box;
}

.fonda {
  position: relative;
  width: 33vw;
  height: auto;
  float: left;
  opacity: .88;
  z-index: -1;
}

@supports ((-webkit-shape-outside: polygon(0% 0)) or (shape-outside: polygon(0% 0))) {
  .fonda {
    width: 66vw;
    -webkit-shape-outside: polygon(0% 0, 28% 0, 39% 28%, 66% 28%, 72% 58%, 85% 69%, 78% 94%, 11% 94%, 11% 59%, 0% 32%);
    shape-outside: polygon(0% 0, 28% 0, 39% 28%, 66% 28%, 72% 58%, 85% 69%, 78% 94%, 11% 94%, 11% 59%, 0% 32%);
  }
}