////////////////////////////////////////////////////////////////////////////////
// FUNCTIONS
//
// description:
// custom functions for DPP styleguide
////////////////////////////////////////////////////////////////////////////////

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

// turn any px based value into an `em` based on the base-font-size
@function emify($val, $base: $font-size-base) {
	$base: strip-unit($base);
	@return (($val / $base) * 1em);
}
