@charset 'UTF-8';

@import 'functions';

@import 'site-settings';
@import 'documentation-settings';
@import 'modules-settings';
@import 'mixins/mixins';

////////////////////////////////////////////////////////////////////////////////
// DOCS
//
// description:
// custom styling for the documentation site
////////////////////////////////////////////////////////////////////////////////

.app-icon--neon-pink {
	.app-icon__logo {
		background-color: $neon-pink;
	}

	.app-icon__character {
		&:first-child {
			color: $neon-blue;
		}

		&:last-child {
			color: $neon-yellow;
			font-weight: bold;
		}
	}
}

.highlight {
	margin-bottom: $double-spacing-unit;

	.chroma {
		padding: $double-spacing-unit;
	}
}

.chroma {
	overflow: auto;
}

.fp-example {
	padding: $double-spacing-unit;
	border: 1px solid $border-color;
	border-radius: $border-radius-large;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	+ .highlight {
		margin-top: -1px;

		.chroma {
			margin: 0;
		}
	}

	&--dark {
		background-color: $almost-black;
	}

	&--app-icons {
		@include clearfix;

		.app-icon {
			margin-right: $double-spacing-unit;
			float: left;
		}
	}

	&-app-icons-stacked {
		.app-icon:not(:last-child) {
			margin-bottom: $double-spacing-unit;
		}
	}

	&--grid {
		[class^="col-"] {
			padding-top: $base-spacing-unit;
			padding-bottom: $base-spacing-unit;
			border: 1px solid $border-color;
			background-color: $evil-gray;
			white-space: nowrap;
		}
	}
}

.theme-fp-docs {
	background-color: $evil-gray;
}

.fp-main-container {
	@include clearfix;
	position: relative; // positioning context
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.fp-drawer {
	position: absolute;
	top: 0;
	left: 0;
	width: $drawer-width;
	padding: $double-spacing-unit;
	// float: left;

	@include mq-max(800px) {
		display: none;
	}
}

.fp-article {
	margin-left: $drawer-width;
	padding: $double-spacing-unit;
	border-right: 1px solid $border-color;
	border-left: 1px solid $border-color;
	background-color: $white;

	@include mq-max(800px) {
		margin-left: 0;
	}
}

.fp-nav {
	//
}

.fp-nav__list {
	@include unstyled-list;
	font-weight: bold;

	// nested
	& & {
		margin-top: $base-spacing-unit;
		padding-left: ($base-spacing-unit * 1.5);
		border-left: 2px solid $neon-pink;
		font-weight: normal;
	}
}

.fp-nav__item {
	display: block;

	.fp-nav > .fp-nav__list > & + & {
		margin-top: $base-spacing-unit;
	}
}

.fp-nav__link {
	display: block;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $purple;
	}

	&.is-active {
		color: $fuchsia;
	}
}

.fp-transparent-bg {
	background-clip: border-box;
	background-image: linear-gradient(45deg, rgba($black, .0980392) 25%, rgba($black, 0) 25%, rgba($black, 0) 75%, rgba($black, .0980392) 75%, rgba($black, .0980392) 0), linear-gradient(45deg, rgba($black, .0980392) 25%, rgba($black, 0) 25%, rgba($black, 0) 75%, rgba($black, .0980392) 75%, rgba($black, .0980392) 0);
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
	background-origin: padding-box;
}
