<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}" class="no-js{{ with .Params.modifiers }}{{ range $.Params.modifiers }} {{ . }}{{ end }}{{ end }}{{ block "modifiers" . }} {{ end }}">

{{ partial "head" . }}

{{ if eq .Section "templates" }}
{{ partial "header-templates" . }}
{{ else }}
{{ partial "header" . }}
{{ end }}

<body>
<main class="main-container" role="main">
	{{ block "main" . }}
	{{ partial "menu-docs" . }}
	<article class="fp-article">
		{{ .Content }}
	</article>
	{{ end }}
</main>

{{ if ne .Section "templates" }}
{{ partial "footer" . }}
{{ end }}

</body>
</html>
