////////////////////////////////////////////////////////////////////////////////
// ELLIPSIS
//
// description:
// text-overflow: ellipsis
////////////////////////////////////////////////////////////////////////////////

@mixin ellipsis {
	display: block;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
