////////////////////////////////////////////////////////////////////////////////
// UNSTYLED LIST
//
// description
////////////////////////////////////////////////////////////////////////////////

@mixin unstyled-list {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
