////////////////////////////////////////////////////////////////////////////////
// GRID
//
// description
////////////////////////////////////////////////////////////////////////////////

.grid {
	@include clearfix;
	margin-right: ($grid-spacing-unit * -1);
	margin-left: ($grid-spacing-unit * -1);
}

[class^="col-"] {
	padding-right: $grid-spacing-unit;
	padding-left: $grid-spacing-unit;
	float: left;
}


@for $i from 1 through 12 {
	.col-#{$i} {
		width: percentage($i / 12);
	}
}

//==============================================================================
// If browsersd supports grid layout, we use the cascade in our advantage
//==============================================================================
@supports (display: grid) {
	.grid {
		// scss-lint:disable PropertySpelling
		display: grid;
		margin-right: 0;
		margin-left: 0;
		grid-gap: $double-spacing-unit;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

		&::after {
			content: none;
		}
	}

	// @for $i from 1 through 12 {
	// 	.grid--#{$i} {
	// 		grid-template-columns: repeat(auto-fill, #{$i}fr);
	// 	}
	// }

	[class^="col-"] {
		width: auto;
		padding-right: 0;
		padding-left: 0;
	}

	// @for $i from 1 through 12 {
	// 	.col-#{$i} {
	// 		width: auto;
	// 	}
	// }
}

