////////////////////////////////////////////////////////////////////////////////
// GRID
//
// description
////////////////////////////////////////////////////////////////////////////////

.grid {
	@include clearfix;
	margin-right: ($grid-spacing-unit * -1);
	margin-left: ($grid-spacing-unit * -1);
}

[class^="col-"] {
	padding-right: $grid-spacing-unit;
	padding-left: $grid-spacing-unit;
	float: left;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		width: percentage($i / 12);
	}
}

// If browser supports grid layout, we use the cascade in our advantage

@supports (display: grid) {
	// scss-lint:disable PropertySpelling
	.grid {
		display: grid;
		margin-right: 0;
		margin-left: 0;
		grid-gap: $double-spacing-unit;
		grid-template-columns: repeat(12, minmax(0, 1fr));

		&::after {
			content: none;
		}
	}

	[class^="col-"] {
		width: auto;
		padding-right: 0;
		padding-left: 0;
	}

	.col-2 {
		grid-column: auto / span 2;
	}

	@for $i from 2 through 12 {
		.col-#{$i} {
			grid-column: auto / span #{$i};
		}
	}
}

