////////////////////////////////////////////////////////////////////////////////
// BOX
//
// sometimes you just need a box
////////////////////////////////////////////////////////////////////////////////

.box {
	margin-bottom: 20px;
	padding: 20px;
	background-color: $white;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

.box--bordered {
	border: 1px solid $box-border-color;
	border-radius: $box-border-radius;
}

@each $name, $color in $allcolors {
	.box--#{$name} {
		border-color: $color;
	}
}
