////////////////////////////////////////////////////////////////////////////////
// BUTTONS
//
// description
////////////////////////////////////////////////////////////////////////////////

.button {
	display: inline-block; // if the .button is a <a href="">
	height: $button-height;
	padding: 0 (25px - $button-border-width);
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, color .15s ease-in-out;
	border: $button-border-width solid $button-default-border-color;
	border-radius: $button-border-radius;
	background-color: $button-default-bg;
	color: $button-default-color;
	font-family: $button-font;
	font-weight: bold;
	line-height: ($button-height - ($button-border-width * 2));
	text-decoration: none; // if the .button is a <a href="">

	&:visited {
		color: $button-default-color;
	}

	&:focus,
	&:hover {
		border-color: $button-default-hover-border-color;
		background-color: $button-default-hover-bg;
		color: $button-default-hover-color;
	}

	& + & {
		margin-left: $base-spacing-unit;
	}

	+ .button--block {
		margin-left: 0;
	}
}

.button--block {
	display: block;
	width: 100%;

	& + & {
		margin-top: $base-spacing-unit;
		margin-left: 0;
	}
}

.button--primary {
	border-color: $button-primary-border-color;
	background-color: $button-primary-bg;
	color: $button-primary-color;

	&:visited {
		color: $button-primary-color;
	}

	&:focus,
	&:hover {
		border-color: $button-primary-hover-border-color;
		background-color: $button-primary-hover-bg;
		color: $button-primary-hover-color;
	}
}

.button--secondary {
	border-color: $button-secondary-border-color;
	background-color: $button-secondary-bg;
	color: $button-secondary-color;

	&:visited {
		color: $button-secondary-color;
	}

	&:focus,
	&:hover {
		border-color: $button-secondary-hover-border-color;
		background-color: $button-secondary-hover-bg;
		color: $button-secondary-hover-color;
	}
}

.button--link {
	padding-right: 0;
	padding-left: 0;
	border-color: $button-link-border-color;
	background: $button-link-bg;
	color: $button-link-color;
	font-weight: normal;
	cursor: pointer;

	&:visited {
		color: $button-link-color;
	}

	&:focus,
	&:hover {
		border-color: $button-link-hover-border-color;
		background: $button-link-hover-bg;
		color: $button-link-hover-color;
	}
}

//==============================================================================
// STATES
//==============================================================================
.button--success,
.button.has-success,
.button.js-has-success {
	border-color: $button-success-border-color;

	&:focus,
	&:hover {
		border-color: $button-success-hover-border-color;
	}
}

.button--warning,
.button.has-warning,
.button.js-has-warning {
	border-color: $button-warning-border-color;

	&:focus,
	&:hover {
		border-color: $button-warning-hover-border-color;
	}
}

.button--error,
.button.has-error,
.button.js-has-error {
	border-color: $button-error-border-color;

	&:focus,
	&:hover {
		border-color: $button-error-hover-border-color;
	}
}

.has-success,
.js-has-success {
	&.button--primary {
		background-color: $button-success-bg;
		color: $button-success-color;

		&:visited {
			color: $button-success-color;
		}

		&:focus,
		&:hover {
			background-color: $button-success-hover-bg;
		}
	}
}

.has-warning,
.js-has-warning {
	&.button--primary {
		background-color: $button-warning-bg;
		color: $button-warning-color;

		&:visited {
			color: $button-warning-color;
		}

		&:focus,
		&:hover {
			background-color: $button-warning-hover-bg;
			color: $button-warning-hover-color;
		}
	}
}

.has-error,
.js-has-error {
	&.button--primary {
		background-color: $button-error-bg;
		color: $button-error-color;

		&:visited {
			color: $button-error-color;
		}

		&:focus,
		&:hover {
			background-color: $button-error-hover-bg;
			color: $button-primary-hover-color;
		}
	}
}
//==============================================================================
// WRAPPERS
//==============================================================================

.button__group {
	.button {
		@include mq-max($bp-small) {
			margin-bottom: $double-spacing-unit;
		}

		&:last-child {
			@include mq-max($bp-small) {
				margin-bottom: 0;
			}
		}
	}
}

.button__group--centered {
	text-align: center;
}
