////////////////////////////////////////////////////////////////////////////////
// DRAWER
//
// description:
// a auto-collapsable sidebar to use in a webapp: e.g. a dashboard
////////////////////////////////////////////////////////////////////////////////

//==============================================================================
// CHECKBOX HACK
// DEPRECATED !!!!!
// replaced by _hamburger.scss
//==============================================================================
.drawer__checkbox {
	@include visually-hidden;
}

.drawer__menu {
	display: block;
	position: fixed;
	top: ($base-spacing-unit * 1.5);
	left: $base-spacing-unit;
	width: $drawer-hamburger-dimension;
	height: $drawer-hamburger-dimension;
	padding: $half-spacing-unit $base-spacing-unit;
	border: 1px solid $hamburger-border-color;
	border-radius: $hamburger-border-radius;
	cursor: pointer;
	z-index: $drawer-hamburger-z-index; // same as .site-header
}

.drawer__menu-line {
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: $drawer-hamburger-line-color;

	&:first-of-type {
		margin-top: 9px;
	}

	.drawer__menu--light & {
		background-color: $drawer-hamburger-light-line-color;
	}
}


//==============================================================================
// THE ACTUAL DRAWER
//==============================================================================
.drawer {
	position: fixed;
	top: $site-header-height;
	bottom: 0;
	left: ($drawer-width * -1);
	width: $drawer-width;
	padding: ($base-spacing-unit * 5) ($base-spacing-unit * 3);
	transition: left .3s ease-in-out;
	border-right: 1px solid $border-color;
	background-color: $drawer-bg;
	overflow: auto;

	@include mq-min($bp-medium) {
		left: 0;
	}

	.hamburger__checkbox:checked + .hamburger + &,
	.drawer__checkbox:checked + .drawer__menu + & {
		left: 0;

		@include mq-min($bp-medium) {
			left: ($drawer-width * -1);
		}
	}
}

.drawer__section {
	padding: $double-spacing-unit 0;
}

.drawer__section-title {
	margin-bottom: $double-spacing-unit;
	color: $drawer-section-title-color;
	font-size: $font-size-medium;
}
