////////////////////////////////////////////////////////////////////////////////
// FOOTER
//
// description:
// global site's footer
////////////////////////////////////////////////////////////////////////////////

.site-footer {
	height: $footer-height;
	padding: $double-spacing-unit;
	border-top: 1px solid $border-color;
	background-color: $footer-bg;
	font-size: $font-size-medium;
	text-align: center;
}
