////////////////////////////////////////////////////////////////////////////////
// TABLES
//
// description
////////////////////////////////////////////////////////////////////////////////

// scss-lint:disable NestingDepth

.table {
	width: 100%;
	border-collapse: collapse;

	th,
	td {
		padding: $half-spacing-unit;
		vertical-align: top;
	}

	th {
		text-align: left;
	}

	td {
		&[scope] {
			font-weight: bold;
		}
	}

	.key {
		font-weight: bold;
	}
}

.table--bordered {
	border: 1px solid $table-border-color;

	caption {
		padding: $half-spacing-unit;
		background-color: $silver;
	}

	th,
	td {
		border: 1px solid $table-border-color;
	}
}

.table--horizontal-borders {
	border: 0;

	th,
	td {
		border-bottom: 1px solid $table-border-color;
	}

	th {
		border-bottom-width: 2px;
	}
}

.table--striped {
	thead {
		th {
			background-color: $silver;
		}
	}

	tr {
		td {
			background-color: $white;
		}

		&:nth-child(even) {
			td {
				background-color: $silver;
			}
		}
	}
}

.table--responsive {
	@include mq-max(799px) {
		display: block;
		overflow-x: auto;
	}

	caption {
		@include mq-max(799px) {
			text-align: left;
		}
	}
}

.table--transformer {
	@include mq-max(799px) {
		display: block;
	}

	caption,
	tbody,
	tfoot,
	tr,
	th,
	td {
		@include mq-max(799px) {
			display: block;
			text-align: left;
		}
	}

	thead {
		@include mq-max(799px) {
			display: none;
		}
	}

	td {
		&:empty {
			@include mq-max(799px) {
				display: none;
			}
		}

		&[data-title] {
			&::before {
				@include mq-max(799px) {
					font-weight: bold;
					content: attr(data-title) ':\00A0';
				}
			}
		}
	}

	&.table--bordered {
		td {
			@include mq-max(799px) {
				border: 0;
			}
		}

		tr:not(:last-child) {
			@include mq-max(799px) {
				border-bottom: 1px solid $table-border-color;
			}
		}
	}
}

// scss-lint:enable NestingDepth
