<div class="drawer">
	<div class="drawer__section">
		<div class="drawer__section-title" id="drawer-admin">Admin</div>
		<nav class="nav nav nav--vertical nav--light" role="navigation" aria-labelledby="drawer-admin">
			<ul class="nav__list">
				<li class="nav__item is-active" role="none">
					<a href="#" class="nav__link" aria-current="page">Dashboard</a>
				</li>
				<li class="nav__item" role="none">
					<a href="#" class="nav__link">Reports</a>
				</li>
				<li class="nav__item" role="none">
					<a href="#" class="nav__link">Teams</a>
				</li>
				<li class="nav__item" role="none">
					<a href="#" class="nav__link">Incidents</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="drawer__section">
		<div class="drawer__section-title" id="drawer-settings">Settings</div>
		<nav class="nav nav nav--vertical" role="navigation" aria-labelledby="drawer-settings">
			<ul class="nav__list">
				<li class="nav__item" role="none">
					<a href="#" class="nav__link">Privacy</a>
				</li>
				<li class="nav__item" role="none">
					<a href="#" class="nav__link">Username</a>
				</li>
				<li class="nav__item" role="none">
					<a href="#" class="nav__link">Preferences</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

