{{ partial "drawer-hamburger" }}
<div class="drawer">
	<div class="drawer__section">
		<div class="drawer__section-title" id="drawer-admin">Admin</div>
		<nav class="nav nav nav--vertical nav--light" role="navigation" aria-labelledby="drawer-admin">
			<ul class="nav__list">
				<li class="nav__item is-active" role="none">
					<a href="#" class="nav__link" aria-current="page"><span class="material-icons">dashboard</span> Dashboard</a>
				</li>
				<li class="nav__item" role="none">
					<a href="#" class="nav__link"><span class="material-icons">report</span> Reports</a>
				</li>
				<li class="nav__item" role="none">
					<a href="#" class="nav__link"><span class="material-icons">people</span> Teams</a>
				</li>
				<li class="nav__item" role="none">
					<a href="#" class="nav__link"><span class="material-icons">notifications_active</span> Incidents</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="drawer__section">
		<div class="drawer__section-title" id="drawer-settings">Settings</div>
		<nav class="nav nav nav--vertical nav--light" role="navigation" aria-labelledby="drawer-settings">
			<ul class="nav__list">
				<li class="nav__item" role="none">
					<a href="#" class="nav__link"><span class="material-icons">person</span> Account</a>
				</li>
				<li class="nav__item" role="none">
					<a href="#" class="nav__link"><span class="material-icons">remove_red_eye</span> Privacy</a>
				</li>
				<li class="nav__item" role="none">
					<a href="#" class="nav__link"><span class="material-icons">settings</span> Preferences</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

