{{ $currentPage := . }}

<nav class="nav nav--vertical" role="navigation">
	<ul class="nav__list">
	{{ range .Site.Menus.docs.ByWeight }}
	{{ $.Scratch.Set "currentMenuEntry" . }}
		<li class="nav__item">
			<span class="nav__title">{{ .Name }}</span>
			{{ if .HasChildren }}
			<ul class="nav__list nav__list--nested">
				{{ range .Children }}
				{{ $.Scratch.Set "currentMenuEntry" . }}
				<li class="nav__item{{if $currentPage.IsMenuCurrent "docs" . }} is-active{{ end }}">
					{{ partial "nav-link" $currentPage }}
				</li>
				{{ end }}
			</ul>
			{{ end }}
		</li>
	{{ end }}
	</ul>
</nav>
