<!DOCTYPE html>
<html lang="en" class="no-js layout--diorama{% if page.modifier %} {{page.modifier}}{% endif %}">

{% include head.html %}


{% if page.url contains '403' %}
<body style="background-image: url('{{ 'img/stop.jpg' | absolute_url }}');" data-copyright="Unsplash" data-credit="Sam Xu">
{% elsif page.url contains '404' %}
<body style="background-image: url('{{ 'img/map.jpg' | absolute_url }}');" data-copyright="Unsplash" data-credit="N.">
{% endif %}
	<main class="main-container" role="main">
		{% if page.url contains '403' %}
			{% include 403.html %}
		{% elsif page.url contains '404' %}
			{% include 404.html %}
		{% endif %}
	</main>

	{% if page.url contains '/templates/40' %}
	<input type="checkbox" id="dialog__checkbox" class="dialog__checkbox" checked="checked" />
	<label for="dialog__checkbox" class="dialog__toggle"></label>
	<div class="dialog" role="dialog">
		<div class="dialog__body">
			{{ content }}
		</div>
	</div>
	{% endif %}
</body>
</html>
