<!DOCTYPE html>
<html class="no-js{% if page.modifier %} {{page.modifier}}{% endif %}" lang="en">
	{% include head.html %}
	<body class="bs-docs-home">
		{% comment %}
		<a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>
		{% endcomment %}

		{% if page.url contains "vertical-header" %}
			{% assign modifier = "site-header--vertical" %}
		{% else %}
			{% assign modifier = false %}
		{% endif %}

		{% include header-templates.html modifier=modifier %}

		<main class="main-container" role="main">
			<div class="main-content">
				<div class="container">
					{{ content }}
				</div>
			</div>
		</main>
	</body>
</html>
