////////////////////////////////////////////////////////////////////////////////
// ALERTS
//
// description:
// A message that gives a user some feedback about the result of an action
////////////////////////////////////////////////////////////////////////////////

.alert {
	margin-bottom: $double-spacing-unit;
	padding: 16px $double-spacing-unit $double-spacing-unit;
}

.alert--error {
	background-color: $alert-error-bg;
}

.alert--success {
	background-color: $alert-success-bg;
}

.alert--warning {
	background-color: $alert-warning-bg;
}

.alert__title {
	margin-top: 0;
	margin-bottom: $base-spacing-unit;
}

.alert__text {
	margin-top: 0;
	margin-bottom: $base-spacing-unit;

	&:last-of-type {
		margin-bottom: 0;
	}
}
