////////////////////////////////////////////////////////////////////////////////
// BUTTONS
//
// description
////////////////////////////////////////////////////////////////////////////////

.button {
	height: $button-height;
	padding-right: 15px;
	padding-left: 15px;
	transition: background-color .15s ease-in-out;
	border: 0;
	border-radius: $button-border-radius;
	background-color: $button-default-bg;
	font-family: $button-font;
	font-weight: bold;

	&:focus,
	&:hover {
		background-color: $button-default-hover-bg;
	}

	& + & {
		margin-left: $base-spacing-unit;
	}
}

.button--primary {
	background-color: $button-primary-bg;
	color: $button-primary-color;

	&:focus,
	&:hover {
		background-color: $button-primary-hover-bg;
	}
}

//==============================================================================
// STATES
//==============================================================================
.button--success,
.button.has-success,
.button.js-has-success {
	background-color: $button-success-bg;
	color: $button-success-color;

	&:focus,
	&:hover {
		background-color: $button-success-hover-bg;
	}
}

.button--warning,
.button.has-warning,
.button.js-has-warning {
	background-color: $button-warning-bg;
	color: $button-warning-color;

	&:focus,
	&:hover {
		background-color: $button-warning-hover-bg;
	}
}

.button--error,
.button.has-error,
.button.js-has-error {
	background-color: $button-error-bg;
	color: $button-error-color;

	&:focus,
	&:hover {
		background-color: $button-error-hover-bg;
	}
}
