////////////////////////////////////////////////////////////////////////////////
// BUTTONS
//
// description
////////////////////////////////////////////////////////////////////////////////

.button {
	display: inline-block; // if the .button is a <a href="">
	height: $button-height;
	padding: 0 15px;
	transition: background-color .15s ease-in-out;
	border: 0;
	border-radius: $button-border-radius;
	background-color: $button-default-bg;
	color: $button-default-color;
	font-family: $button-font;
	font-weight: bold;
	line-height: $button-height;
	text-decoration: none; // if the .button is a <a href="">

	&:focus,
	&:hover {
		background-color: $button-default-hover-bg;
		color: $button-default-hover-color;
	}

	& + & {
		margin-left: $base-spacing-unit;
	}

	+ .button--block {
		margin-left: 0;
	}
}

.button--block {
	display: block;
	width: 100%;

	& + & {
		margin-top: $base-spacing-unit;
		margin-left: 0;
	}
}

.button--primary {
	background-color: $button-primary-bg;
	color: $button-primary-color;

	&:focus,
	&:hover {
		background-color: $button-primary-hover-bg;
		color: $button-primary-hover-color;
	}
}

//==============================================================================
// STATES
//==============================================================================
.button--success,
.button.has-success,
.button.js-has-success {
	background-color: $button-success-bg;
	color: $button-success-color;

	&:focus,
	&:hover {
		background-color: $button-success-hover-bg;
		color: $button-primary-hover-color;
	}
}

.button--warning,
.button.has-warning,
.button.js-has-warning {
	background-color: $button-warning-bg;
	color: $button-warning-color;

	&:focus,
	&:hover {
		background-color: $button-warning-hover-bg;
		color: $button-warning-hover-color;
	}
}

.button--error,
.button.has-error,
.button.js-has-error {
	background-color: $button-error-bg;
	color: $button-error-color;

	&:focus,
	&:hover {
		background-color: $button-error-hover-bg;
		color: $button-error-hover-color;
	}
}
