////////////////////////////////////////////////////////////////////////////////
// HEADER
//
// description:
// The page header
////////////////////////////////////////////////////////////////////////////////

.site-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: $site-header-height;
	padding-right: $double-spacing-unit;
	padding-left: $double-spacing-unit;
	border-bottom: 1px solid $site-header-border-color;
	background-color: $site-header-bg;

	.layout--fixed-header & {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 2;
	}
}

.site-header__section {
	& + & {
		margin-left: $double-spacing-unit;
	}
}
