////////////////////////////////////////////////////////////////////////////////
// NAVIGATION
//
// description
////////////////////////////////////////////////////////////////////////////////

.nav {
	//
}

.nav--vertical {
	display: block;
}

// .nav--sticky {
// 	@supports (position: sticky) {
// 		position: sticky;
// 		top: ($site-header-height + $double-spacing-unit);
// 		left: 0;
// 		width: 100%;
// 	}
// }

.nav__list {
	@include unstyled-list;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: baseline;
	height: 100%;

	.nav--vertical & {
		display: block;
	}
}

.nav__list--nested {
	margin-top: $base-spacing-unit;
	margin-bottom: ($base-spacing-unit * 4);
	font-weight: normal;
}

.nav__item {
	display: block;

	& + & {
		margin-left: $double-spacing-unit;
	}

	.nav--vertical & + & {
		margin-top: $base-spacing-unit;
		margin-left: 0;
	}
}

.nav__link {
	display: block;
	color: $nav-link-color;
	text-decoration: none;

	&:visited {
		color: $nav-link-color;
	}

	&:focus,
	&:hover {
		color: $nav-link-hover-color;
	}

	.is-active > & {
		color: $nav-link-active-color;
		font-weight: bold;
	}

	// on dark backgrounds
	.nav--light & {
		color: $nav-light-link-color;

		&:visited {
			color: $nav-light-link-color;
		}

		&:focus,
		&:hover {
			color: $nav-light-link-hover-color;
		}
	}

	.nav--light .is-active > & {
		color: $nav-light-link-active-color;
	}

	.nav--vertical & {
		.material-icons {
			margin-right: $base-spacing-unit;
		}
	}
}

.nav__title {
	display: block;
	margin-bottom: ($base-spacing-unit * 3);
	color: $warmgrey;
	font-size: $font-size-medium;
}
