////////////////////////////////////////////////////////////////////////////////
// NAVIGATION
//
// description
////////////////////////////////////////////////////////////////////////////////

.nav {
	//
}

.nav--vertical {
	display: block;

	.layout--vertical-header & {
		@include mq-max($bp-small - 1) {
			position: absolute;
			top: $site-header-height;
			left: 0;
			width: 300px;
			height: calc(100vh - #{$site-header-height});
			padding: $double-spacing-unit;
			transform: translateX(-100%);
			transition: 100ms transform;
			background-color: $white;
			box-shadow: 3px 0 3px -2px rgba($almost-black, .25);
		}

		@include mq-min($bp-small) {
			flex: 1;
			margin-top: $double-spacing-unit;
			text-align: center;
		}
	}

	.layout--vertical-header .hamburger__checkbox:checked + .hamburger + & {
		@include mq-max($bp-small - 1) {
			transform: translateX(0);
		}
	}
}

.nav__list {
	@include unstyled-list;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: baseline;
	height: 100%;

	.nav--vertical & {
		display: block;
	}

	.site-header--vertical .nav--vertical & {
		display: flex;
		flex: 1;
		flex-direction: column;
	}
}

.nav__list--nested {
	margin-top: $base-spacing-unit;
	margin-bottom: $double-spacing-unit;
	font-weight: normal;

	@include mq-min($bp-small) {
		margin-bottom: ($base-spacing-unit * 3);
	}

	@include mq-min($bp-medium) {
		margin-bottom: ($base-spacing-unit * 4);
	}
}

.nav__item {
	display: block;
	margin: 0;

	& + & {
		margin-left: $double-spacing-unit;
	}

	.nav--vertical & + & {
		margin-left: 0;
	}

	.site-header--vertical .nav--vertical & {
		width: 100%;

		&--last {
			margin-top: auto;
		}
	}
}

.nav__link {
	display: block;
	color: $nav-link-color;
	text-decoration: none;

	&:visited {
		color: $nav-link-color;
	}

	&:focus,
	&:hover {
		color: $nav-link-hover-color;
	}

	.is-active > & {
		color: $nav-link-active-color;
		font-weight: bold;
	}

	// on dark backgrounds
	.nav--light & {
		padding: $base-spacing-unit ($base-spacing-unit * 1.5);
		border-radius: $border-radius-base;
		@if (type-of($nav-light-link-bg) == 'color' and $nav-light-link-bg != $transparent) {
			background-color: $nav-light-link-bg;
		}
		color: $nav-light-link-color;

		&:visited {
			color: $nav-light-link-color;
		}

		&:focus,
		&:hover {
			background-color: $nav-light-link-hover-bg;
			color: $nav-light-link-hover-color;
		}
	}

	.nav--light .is-active > & {
		background-color: $nav-light-link-active-bg;
		color: $nav-light-link-active-color;
	}

	.nav--vertical & {
		.material-icons {
			margin-right: $base-spacing-unit;
		}
	}
}

.nav__title {
	display: block;
	margin-bottom: $base-spacing-unit;
	color: $warmgrey;
	font-size: $font-size-medium;

	@include mq-min($bp-small) {
		margin-bottom: $double-spacing-unit;
	}

	@include mq-min($bp-medium) {
		margin-bottom: ($base-spacing-unit * 3);
	}
}
