////////////////////////////////////////////////////////////////////////////////
// TABLES
//
// description
////////////////////////////////////////////////////////////////////////////////

// scss-lint:disable NestingDepth

// mandatory wrapper if you want your table to be "responsive"
.table__wrapper {
	overflow-x: auto;
}

.table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	overflow-x: auto;

	th,
	td {
		padding: $half-spacing-unit;
		vertical-align: top;

		&[scope] {
			font-weight: bold;
		}
	}

	th {
		text-align: left;
	}

	.key {
		font-weight: bold;
	}
}

caption {
	@include mq-max(799px) {
		text-align: left;
	}
}

.table--bordered {
	border: 1px solid $table-border-color;

	caption {
		padding: $half-spacing-unit;
		background-color: $silver;
	}

	th,
	td {
		border: 1px solid $table-border-color;
	}
}

.table--horizontal-borders {
	border: 0;

	th,
	td {
		border-bottom: 1px solid $table-border-color;
	}

	thead th {
		border-bottom-width: 2px;
	}
}

.table--striped {
	thead {
		th {
			background-color: $silver;
		}
	}

	tbody tr {
		th,
		td {
			background-color: $white;
		}

		&:nth-child(even) {
			th,
			td {
				background-color: $silver;
			}
		}
	}
}

//==============================================================================
// RESPONSIVE TABLE THAT BECOMES STACKED ON SMALL SCREENS
//==============================================================================
.table--transformer {
	@include mq-max(799px) {
		display: block;
		overflow-x: visible;
	}

	caption,
	tbody,
	tfoot,
	tr,
	th,
	td {
		@include mq-max(799px) {
			display: block;
			text-align: left;
		}
	}

	thead {
		@include mq-max(799px) {
			display: none;
		}
	}

	th,
	td {
		&:empty {
			@include mq-max(799px) {
				display: none;
			}
		}

		&[data-title] {
			&::before {
				@include mq-max(799px) {
					font-weight: bold;
					content: attr(data-title) ':\00A0';
				}
			}
		}
	}

	&.table--bordered {
		th,
		td {
			@include mq-max(799px) {
				border: 0;
			}
		}

		tr:not(:last-child) {
			@include mq-max(799px) {
				border-bottom: 1px solid $table-border-color;
			}
		}
	}
}

// scss-lint:enable NestingDepth
