////////////////////////////////////////////////////////////////////////////////
// TABLES
//
// description
////////////////////////////////////////////////////////////////////////////////

// scss-lint:disable NestingDepth, SelectorDepth

// mandatory wrapper if you want your table to be "responsive"
.table__wrapper {
	overflow-x: auto;
}

.table {
	width: 100%;
	max-width: 100%;
	background-color: $table-bg;
	border-collapse: collapse;
	overflow-x: auto;

	th,
	td {
		padding: $half-spacing-unit;
		vertical-align: top;

		@include mq-min($bp-small) {
			padding: $base-spacing-unit;
		}

		@include mq-min($bp-medium) {
			padding: ($base-spacing-unit * 1.5);
		}

		&[scope] {
			font-weight: bold;
		}

		&[scope=row] {
			color: $muted-color;
			font-weight: normal;
		}

		> * {
			vertical-align: top; // if a child is inline-block with a different vertical-align than 'top' this fixes the misalignment of it's cell
		}
	}

	th {
		text-align: left;
	}

	.key {
		font-weight: bold;
	}
}

caption {
	@include mq-max(799px) {
		text-align: left;
	}
}

.table--bordered {
	border: 1px solid $table-border-color;

	caption {
		padding: $half-spacing-unit;
	}

	th,
	td {
		border: 1px solid $table-cell-border-color;
	}

	thead th {
		border-bottom-width: 5px;
	}
}

.table--horizontal-borders {
	border: 0;

	th,
	td {
		border-bottom: 1px solid $table-cell-border-color;
	}

	thead th {
		border-bottom-width: 5px;
	}
}

.table--striped {
	caption {
		padding-bottom: $base-spacing-unit;
	}

	thead {
		th {
			background-color: $table-zebra-bg;
		}
	}

	tbody tr {
		th,
		td {
			background-color: $white;
		}

		&:nth-child(even) {
			th,
			td {
				background-color: $table-zebra-bg;
			}
		}
	}
}

//==============================================================================
// RESPONSIVE TABLE THAT BECOMES STACKED ON SMALL SCREENS
//==============================================================================
.table--transformer {
	@include mq-max(799px) {
		display: block;
		overflow-x: visible;
	}

	caption,
	tbody,
	tfoot,
	tr,
	th,
	td {
		@include mq-max(799px) {
			display: block;
			text-align: left;
		}
	}

	thead {
		@include mq-max(799px) {
			display: none;
		}
	}

	th,
	td {
		&:empty {
			@include mq-max(799px) {
				display: none;
			}
		}

		&[data-title] {
			&::before {
				@include mq-max(799px) {
					font-weight: bold;
					content: attr(data-title) ':\00A0';
				}
			}
		}
	}

	&.table--bordered {
		th,
		td {
			@include mq-max(799px) {
				border: 0;
			}
		}

		tr:not(:last-child) {
			@include mq-max(799px) {
				border-bottom: 1px solid $table-cell-border-color;
			}
		}
	}
}

//==============================================================================
// COMPLEX DATA TABLES WITH COLLAPSIBLE, NESTED TABLES
//==============================================================================

.tr--collapsible {
	> td {
		background-color: $table-row-collapsible-bg;
	}
}
// scss-lint:enable NestingDepth, SelectorDepth
